/* Advantage-section */

.advantages-section {
  background-color: var(--color-brand-normal);
  padding: 20px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 16px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      justify-content: space-around;
      gap: 30px;
    }

    @media screen and (min-width: $bp-desktop) {
      gap: 40px;
    }
  }

  &__item {
    font-size: 15px;
    color: var(--color-primary-light);
    font-weight: 300;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 20px;
    }
  }
}
