/* Footer */

.footer {
  position: relative;
  background-image: url(../img/footer.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 48px 0;
  }
}

.footer::before,
.footer::after {
  display: none;
  position: absolute;
  bottom: 0;
  background-repeat: no-repeat;
  content: "";

  @media screen and (min-width: $bp-desktop) {
    display: block;
  }
}

.footer::before {
  width: 180px;
  height: 120px;
  left: 0;
  background-image: url("../img/decor-bread-large.png");
}

.footer::after {
  width: 380px;
  height: 190px;
  right: 0;
  background-image: url("../img/decor-bread-small.png");
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;

  @media screen and (min-width: $bp-desktop) {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 40px;
  }
}

.footer-address,
.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;

  @media screen and (min-width: $bp-tablet) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  @media screen and (min-width: $bp-desktop) {
    flex-basis: 50%;
    justify-content: flex-start;
    gap: 20px;
  }
}

.footer-logo,
.footer-menu {
  flex-grow: 1;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.address-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.address_link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}
.address_link:hover {
  color: var(--color-brand-normal);
}

.footer-socials {
  display: flex;
  gap: 10px;
}
.footer-socials-icon {
  /* for make icon colored */
  fill: var(--color-primary-light);
  /* властивість обводки на іконки */
  /* stroke: red; */
}

.footer-socials-icon:hover {
  /* for make icon colored */
  fill: var(--color-brand-normal);
}

.address-copyright {
  font-size: 14px;
}
