/* Header */

.header {
  /* тоді хедер нав поверх картинки буде. він стає меншим і нам треба буде його прикріпити до верхньої лівої частини - топ0-лефт0-і розтягнути на всю ширини - width-100% */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 16px;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 32px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      gap: 40px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 16px;

    @media screen and (min-width: $bp-desktop) {
      flex-grow: 1;
      gap: 40px;
    }
  }

  &__menu {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: flex;
      gap: 40px;
      flex-grow: 1;
      justify-content: center;
    }

    @media screen and (min-width: 1400px) {
      gap: 64px;
    }
  }
}
