/* Modal */

.backdrop {
  /* розтягнутий на всю ширину вікна */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* transition-display 1s не буде переходу бо не всі властивості є анімованими і краще писати як нижче */
  transition: opacity 0.3s, visibility 0.3s;
}

.modal {
  position: relative;
  width: 100%;
  max-width: calc(100% - 32px);
  max-height: calc(100% - 40px);
  padding: 48px 20px;
  background-color: var(--color-primary-light);
  border-radius: 16px;
  overflow-y: auto;

  @media screen and (min-width: $bp-tablet) {
    max-width: 880px;
    max-height: 880px;
    padding: 64px 80px;
    border-radius: 32px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 128px;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.modal-btn-close {
  position: absolute;
  top: 16px;
  right: 16px;

  @media screen and (min-width: $bp-tablet) {
    top: 40px;
    right: 40px;
  }
}
